.contact-page-wrapper {

    .contact-page-banner {
        width: 100%;
        height: 160px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("../assets/image/sky-banner.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
        .website-title {
            display: flex;
            align-items: center;
            color: #ffffff;
            font-size: 48px;
            font-family: 'PangMenZhengDao';
        }

        @media screen and (max-width: 750px){
            .website-title {
                flex-direction: column;
                font-size: 30px;
                .line {
                    display: none;
                }
            }
        }
    }

    .contact-page-container {
        width: $rootWidth;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 80px;
        .info-container {
            display: inline-block;
            .info-title {
                font-size: 36px;
                color: #101010;
            }

            .key {
                font-size: 22px;
                color: #101010;
            }
            .value {
                font-size: 18px;
                color: #666666;
            }
            .email {
                margin: 15px 0px;
            }
            .address-box {
                display: flex;

                address {
                    margin-bottom: 15px;
                }
            }

            .wechat-weibo-box {
                margin-top: 30px;
                .box-item {
                    display: inline-block;
                    margin-right: 43px;
                    .item-title-box {
                        display: flex;
                        align-items: center;
                        .text {
                            font-size: 18px;
                            color: #318FF3;
                        }
                        .icon-img {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            margin-left: 8px;
                        }
                    }
                    .code-picture {
                        display: inline-block;
                        width: 104px;
                        height: 104px;
                        margin-top: 12px;
                    }
                }
            }
        }

        .form-container {
            border: 1px solid #bbbbbb;
            padding: 24px 80px;
            border-radius: 5px;
            .form-title {
                font-size: 36px;
                color: #101010;
            }
            .desc {
                font-size: 18px;
                color: #318FF3;
                font-weight: bold;
                margin-bottom: 14px;
            }
            .contact-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                label {
                    display: flex;
                    align-items: center;
                    margin: 6px 0;
                    width: 500px;
                    height: 44px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    background-color: #ffffff;
                    border: 1px solid #bbbbbb;
        
                    .key {
                        display: inline-block;
                        flex: 1;
                        width: 60px;
                        padding-left: 10px;
                        color: #C8C6C6;
                        font-size: 14px;
                    }
        
                    .input-box {
                        flex: 9;
                        display: flex;
                        input {
                            flex: 1;
                            outline: none;
                            background-color: transparent;
                            border: none;
                            margin-right: 10px;
                        }
                        .btn {
                            font-size: 14px;
                            color: #ffffff;
                            font-weight: bold;
                            width: 94px;
                            height: 44px;
                            border-radius: 5px;
                            cursor: pointer;
                            border: none;
                            outline: none;
                            background-color: #5EACFF;
                            transition: all linear 0.1s;
                            &:hover {
                                background-color: #318FF3;
                            }
                            &.disabled-btn {
                                background-color: #bbbbbb;
                                cursor: not-allowed;
                            }
                        }
                    }
                }
        
                .submit-btn {
                    width: 200px;
                    height: 46px;
                    margin-top: 12px;
                    color: #ffffff;
                    font-size: 20px;
                    font-weight: bold;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;
                    outline:none;
                    background-color: #318FF3;
                    box-shadow: 0px 2px 6px 0px rgba(0,0,0,.4);
                    transition: all linear 0.1s;
                    &:hover {
                        background-color: #1268DB;
                        box-shadow: none;
                    }
                }
            }
        }

    }

    .contact-page-container {
        @media screen and (max-width: 750px){
            width: 100%;
            flex-direction: column;
            padding-top: 0;

            .info-container {
                order: 1;
                .info-title {
                    font-size: 26px;
                }
                .key {
                    font-size: 19px;
                }
                .value {
                    display: block;
                    margin-top: 8px;
                    font-size: 15px;
                }
                .address-box { 
                    flex-direction: column;

                    address {
                        margin-bottom: 8px;
                    }
                }
            }

            .form-container {
                order: 0;
                padding-left: 0;
                padding-right: 0;
                border: none;

                .form-title {
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 10px;
                }
                .desc {
                    text-align: center;
                    margin-bottom: 26px;
                }
                .contact-form {
                    width: 100%;
        
                    label {
                        width: 100%;
        
                        .key {
                            flex: 2;
                        }
                    }
                }
            }
        }
    }
}

