.home-container {
    .area_title {
        font-size: 40px;
        color: #101010;
        font-weight: normal;
    }
    .banner_area {
        height: 535px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../assets/image/home-banner.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        .banner-title {
            font-size: 48px;
            color: #ffffff;
        }
    }

    .site_features_area {
        display: flex;
        flex-direction: column;
        align-items: center;

        .site_features_title {
            margin-top: 77px;
            margin-bottom: 36px;
        }
        .img-box {
            display: flex;

            .img_item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 136px;
                height: 136px;
                border: 3px solid #BFC8CC;
                box-sizing: border-box;
                border-radius: 50%;
                margin: 0 62px;
                background-color: #ffffff;
           
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: rgb(153,153,153);
                    left: 6px;
                    top: 4px;
                    z-index: -1;

                }
            }
            img {
                display: block;
                width: 64px;
                height: 64px;
            }
        }

        .desc_text {
            margin-top: 36px;
            font-size: 24px;
            color: #318FF3;
            width: 1000px;
        }
    }

    .show_info_area {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 690px;
        background-color: rgb(242,247,255);

        .img_desc_box {
            display: flex;
            margin-top: 30px;
            margin-bottom: 40px;
            .img_desc_item {
                height: 440px;
                // width: 740px;
                position: relative;
                .bg {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .show_info_mask {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,.4);
                }
                .text {
                    font-size: 32px;
                    color: #ffffff;
                    font-weight: bold;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    white-space: nowrap;
                    transform: translate(-50%,-50%);
                }
            }

            
        }
        .show_info_text {
            font-size: 24px;
            color: #101010;

            .blue {
                font-size: 36px;
                color: #318FF3;
                margin-left: 10px;
            }
        }
    }

    .partner_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        .partner_title {
            margin-top: 110px;
            margin-bottom: 74px;
        }
        .partner_logo {
            display: flex;
            margin-bottom: 140px;
            .logo {
                display: inline-block;
                height: 60px;
                margin: 0 110px;
            }
        }
    }

    .contact-area {
        width: 100%;
        background-color: #f2f7ff;
    }
}

/*screenWidth <= 750px */
.home-container {
    @media screen and (max-width:750px){

        .area_title {
            font-size: 24px;
            text-align: center;
        }
        .banner_area {
            height: 340px;
            .banner-title {
                font-size: 28px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .site_features_area {

            .site_features_title {
                width: 265px;
                font-size: 24px;
                margin-top: 40px;
            }
            .img-box {
                .img_item {

                    width: 60px;
                    height: 60px;
                    margin: 0 10px;
                }
                img {
                    width: 28px;
                    height: 28px;
                }
            }

            .desc_text {
                width: 350px;
                font-size: 15px;
                text-align: center;
            }
        }

        .show_info_area {
            height: 726px;
            margin-top: 40px;
            .show_info_title {
                width: 386px;
                text-align: center;
            }
            .img_desc_box {
                flex-direction: column;
                padding: 0 10px;
                .img_desc_item {
                    height: 235px;
                    
                    .text {
                        display: inline-block;
                        width: 300px;
                        white-space: normal;
                        text-align: center;
                    }
                }

                
                
            }

            .show_info_text {
                font-size: 15px;
                .blue {
                    text-align: center;
                    display: block;
                    font-size: 20px;
                }
            }
        }

        .partner_area {

            .partner_title {
                margin-top: 40px;
                margin-bottom: 27px;
                width: 264px;
                text-align: center;
            }
            .partner_logo {
                margin-bottom: 66px;
                .logo {

                    height: 30px;
                    margin: 0 13px;
                }
            }
        }
    }
}