body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font-family: 'Source Han Sans'}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 

.clearfix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@font-face {
    font-family: 'iconfont';  /* project id 2026134 */
    src: url('//at.alicdn.com/t/font_2026134_k8l1zabtr3.eot');
    src: url('//at.alicdn.com/t/font_2026134_k8l1zabtr3.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2026134_k8l1zabtr3.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2026134_k8l1zabtr3.woff') format('woff'),
    url('//at.alicdn.com/t/font_2026134_k8l1zabtr3.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2026134_k8l1zabtr3.svg#iconfont') format('svg');
  }
@font-face {
    font-family: 'Source Han Sans';
    src: url('../font/SourceHanSansCN-Regular.eot');
    src: url('../font/SourceHanSansCN-Regular.ttf') format('truetype'),
        url('../font/SourceHanSansCN-Regular.woff') format('woff'),
        url('../font/SourceHanSansCN-Regular.woff2') format('woff2'),
        url('../font/SourceHanSansCN-Regular.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family: 'PangMenZhengDao';
    font-display: swap;
    src: url('../font/PangMenZhengDaoBiaoTiTi-1.eot');
    src: url('../font/PangMenZhengDaoBiaoTiTi-1.ttf') format('truetype'),
        url('../font/PangMenZhengDaoBiaoTiTi-1.woff') format('woff'),
        url('../font/PangMenZhengDaoBiaoTiTi-1.woff2') format('woff2'),
        url('../font/PangMenZhengDaoBiaoTiTi-1.svg') format('svg');
}

.icon {
    font-family: 'iconfont';
}
